.ham>li,.cross>li,#toggleMenu.back>li
{
  list-style-type:none;
  position:absolute;
  height:2px;
  left:0px;
  transition:all 0.4s cubic-bezier(0.21, 0.75, 0.43, 1.34);
  background:#464646;
  transform-origin:0% 50%;
}
#toggleMenu
{
  transition:all 0.8s;
}
#toggleMenu.back
{
  transform:rotateY(0deg) translateX(20px);
  -webkit-perspective:1000px;
}
#toggleMenu.back>li.menu-1
{
  transform:rotateY(-180deg) rotateZ(45deg) !important;
}
#toggleMenu.back>li.menu-4
{
  transform:rotateY(-180deg) rotateZ(-45deg) !important;
}
.ham>li
{
  width:100%;
}
.cross>li
{
  width:calc(100%/1.41);
}
.ham>li.menu-1
{
  top:9px;
}
.ham>li.menu-2,.ham>li.menu-3
{
  top:19px;
}
.ham>li.menu-4
{
  top:29px;
}
.cross>li.menu-1
{
  transform:rotateZ(45deg);
  top:0px;
}
.cross>li.menu-4
{
  transform:rotateZ(-45deg);
  top:40px;
}
.cross>li.menu-3
{
  transform:rotateZ(45deg);
  left:20px;
  top:20px;
}
.cross>li.menu-2
{
  transform:rotateZ(-45deg);
  left:20px;
  top:20px;
}